@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

/* NAV */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  padding: 5px;
  height: 0px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-list a {
  display: block;
  color: #111;
  background-color: #f8f9fa;
  padding: 0.8rem 2rem 0.8rem 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: 400ms;
}

.nav-list a:hover {
  transform: scale(1.07);
}

.nav-list {
  display: flex;
  margin-right: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* MAIN  */
.back {
  background-color: #f8f9fa;
}
.bg {
  top: 0;
  width: 100%;
  height: 89vh;
  opacity: 0.9;
}

.image {
  height: 100%;
  width: 71%;
  background-size: contain;
  border: ghostwhite solid 2px;
}

.scroll {
  color: #111;
  height: 9vh;
  width: 100%;
  font-size: 50px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -12px, 0);
  }
}

.bounce {
  animation: bounce 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.split{
  height: 1rem;
  background-image: linear-gradient(#f8f9fa, #111);
}

/* Projects Section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #f8f9fa;
}

.projects-section-header, .projects-secondary {
  color: #111;
}

.projects-section-header {
  font-size: 30px;
  max-width: 640px;
  margin: 0 auto 0rem auto;
  border-bottom: 0.2rem solid black;
  text-align: center;
}

.projects-secondary {
  margin-bottom: 6em;
}

.projects-grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  grid-template-columns: auto auto;
  grid-template-rows: 350px 350px 350px 350px;
  grid-gap: 2.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

/*
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.crate {
  margin-left: 7rem;
}
*/

.project {
  display: grid;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  grid-template-columns: 60% 40%;
  transition: ease-in-out 0.5s;
}

.project-text {
  display: grid;
  grid-template-rows: 30% 40% 13% 13%;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem;
  color: black;
  background-color: #fff;
  border-radius: 10px;
}

.code {
  color: #fff;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #111;
}

.project-desc {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  padding: .3rem;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.git-link {
  color: #111;
  font-size: 2rem;
  text-align: right;
  margin-right: 1rem;
}

.tools {
  font-size: 2rem;
}

/* <= Smaller than iPad*/
@media only screen and (max-width: 750px) { 
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: auto;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
  }
}

@media only screen and (max-width: 505px) {
  .project {
    display: flex;
  }
}

@media only screen and (max-width: 360px) {
  .to-hide {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .project-desc {
    font-size: 10px;
    line-height: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

.text1 {
  color: #111;
  padding-top: 17%;
  padding-left: 7%;
  font-size: 80px;
  font-weight: 400;
}

.text3 {
  color: #111;
  padding-top: 0.5%;
  padding-left: 12%;
  font-size: 50px;
  font-weight: 300;
}

.texth  {
  text-align: center;
  color: floralwhite;
}

.text5 {
  text-align: center;
  width: 60%;
  color: floralwhite;
  margin-top: 1rem;
}


@media only screen and (max-width: 600px) {
  .text1, .text2, .text3 {
    text-align: center;
    color: #111;
    font-size: 30px;
  }
  .text3 {
    padding-top: 20px;
  }
  .text4 {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/*
.split02{
  height: 1rem;
  background-image: linear-gradient(#6c757d, #495057);
}
*/
/* Footer */

.contact-section {
  display: flex;
  color: #111;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 95vh;
  padding: 0 2rem;
  background: #f8f9fa;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1.6rem;
  color: #495057;
  text-shadow: 2px 2px 1px #fff;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(6px);
}

.wave {
  color: #111;
  font-size: 60px;
  animation: wave 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes wave {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(45deg);
  }
}

footer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  background: #111;
  border-top: 2px solid skyblue;
}

footer > p {
  margin: 3rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}